<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>188872330118-8u2u2da2dn0456fuqtin3mnun128kb94.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.188872330118-8u2u2da2dn0456fuqtin3mnun128kb94</string>
	<key>API_KEY</key>
	<string>AIzaSyAMreD-LGSRWl5ql81FURU8x1xzH6rW17g</string>
	<key>GCM_SENDER_ID</key>
	<string>188872330118</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TFG.DANGER</string>
	<key>PROJECT_ID</key>
	<string>dangergame-d95dc</string>
	<key>STORAGE_BUCKET</key>
	<string>dangergame-d95dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:188872330118:ios:b4a05c57d425b390d9fa07</string>
	<key>DATABASE_URL</key>
	<string>https://dangergame-d95dc-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>